* {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    height: 15vh;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    position: absolute;
    left: 8vw;
    
}

.user {
    position: absolute;
    right: 8vw;
    background: #a4d6f6;
    padding: 5px 15px;
    border-radius: 10px;
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 2vw;
    text-decoration: none;
}
li > a{
    text-decoration: none;
    color: black;
}

.btn{
    background-color: #59ade2;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    border: 0px solid rgb(163, 163, 255);
    
}

.btn:hover{
    transform: rotate(-15deg) skew(1deg) scale(1.1);
    transition:  2s;
    /* transition: 0.3sec ease-in; */
}

.hero {
    display: flex;
    height: 90vh;
}

p{
    padding-top: 10px;
    padding-bottom: 20px;

}

.hero-left {
    width: 60%;
    padding: 30vh 5vw;
}

.hero-right {
    width: 45%;
}

.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight {
    color: #2c98db;
}



